*.exe
*.txt
*.bin
*.jpg
*.xlsx
*.pptx
*.zip
*.rar
*.doc
*.in
*.out
*.1
*.2
*.3
*.3a
*.4
*.ini
*.json
*.prob
*.h
Codeforces/Problemas/Genera casos.cpp
Codeforces/Good bye 2024/D.cpp
Problemas/Genera casos.cpp
Problemas/Lin, el pintor fuerza bruta.cpp
Problemas/Verificar.cpp
G_Aaah.cpp
.cph/.D_Glass_Carving.cpp_13282a54d2d8bf5547ff076d0e331ab2.prob
.cph/.G_Aaah.cpp_cc878f8173abd7675a6c506be258b7b0.prob
D_Glass_Carving.cpp
Atcoder/389/E.cpp
Simulaciones/Concurso del 22 de enero y 23 de enero/Auxiliar B.cpp
/Olimpiada Japonesa De Informática/Ronda final del 2024 y 2025
