*.exe
*.txt
*.bin
*.jpg
*.docx
*.xlsx
*.pptx
*.zip
*.rar
*.doc
*.in
*.out
*.pdf
*.1
*.2
*.3
*.3a
*.4
*.ini
*.json
Codeforces/Problemas/Genera casos.cpp
Codeforces/Good bye 2024/D.cpp
Problemas/La tarea del Agus.cpp
Problemas/Genera casos.cpp
Problemas/Lin, el pintor fuerza bruta.cpp
Problemas/Verificar.cpp
